body {
    background: #999;
}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.item-nav {
    position: absolute;
    bottom: 12px;
    right: 12px;
    overflow: hidden;
}
.item-nav ul.menu {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.item-nav ul.menu li {
    margin: 12px 0 0 0;
    line-height: 1;
    max-height: 140px;
    transition: margin 0.25s ease-in-out, max-height 0.25s ease-in-out, line-height 0.25s ease-in-out;

}
.item-nav ul.menu li:first-child {
    margin: 0;
}
.item-nav ul.menu button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 16vmin;
    height: 16vmin;
    max-width: 128px;
    max-height: 128px;
    opacity: 1;
    transition: width 0.25s ease-in-out, height 0.25s ease-in-out, max-width 0.25s ease-in-out, max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.item-nav ul.menu button:focus {
    outline: 3px solid #fcdf03;
}
.item-nav ul.menu li.just-added button {
    width: 0;
    height: 0;
    max-width: 0;
    max-height: 0;
    opacity: 0;
}
.item-nav ul.menu li.just-added {
    line-height: 0;
    margin: 0;
    max-height: 0;
}
.item-nav ul.menu li.just-added img {
    border: none;
}
.item-nav ul.menu li:nth-child(1) button {
    opacity: 0;
}
.item-nav ul.menu li:nth-child(1) button,
.item-nav ul.menu li:nth-child(2) button {
    width: 8vmin;
    height: 8vmin;
    max-width: 64px;
    max-height: 64px;
}
.item-nav ul.menu li:nth-child(3) button {
    width: 10vmin;
    height: 10vmin;
    max-width: 80px;
    max-height: 80px;
}
.item-nav ul.menu li:nth-child(4) button {
    width: 12vmin;
    height: 12vmin;
    max-width: 96px;
    max-height: 96px;
}
.item-nav ul.menu li:nth-child(5) button {
    width: 14vmin;
    height: 14vmin;
    max-width: 112px;
    max-height: 112px;
}

.item-nav ul.menu img {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
}